/org.eclipse.core.resources.prefs
/org.eclipse.wst.ws.service.policy.prefs
/org.eclipse.ltk.core.refactoring.prefs
/org.eclipse.jst.j2ee.ejb.annotations.xdoclet.prefs
/org.eclipse.wst.html.core.prefs
/org.eclipse.wst.jsdt.core.prefs
/org.eclipse.wst.jsdt.ui.prefs
