body {
	background: #2193b0; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #6dd5ed, #2193b0);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h2 {
	line-height: 400px;
	height: 250px;
	text-align: center;
	font-size: 45px;
	color: white;
}
h3 {
	line-height: 200px;
	height: 150px;
	text-align: center;
	color: white;
}
p {
	text-align: center;
	color: white;
}