/********************************* Universal elements **************************************/
body {
	background: #56CCF2; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2F80ED, #56CCF2);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2 {
	line-height: 400px;
	height: 250px;
	text-align: center;
	font-size: 45px;
	color: white;
}

h3 {
	line-height: 200px;
	height: 150px;
	text-align: center;
	color: white;
}

p {
	text-align: center;
	color: white;
}

td,table {
    align: center;
}

#center_button{
	line-height: 200px;
	text-align: center;
}
/************************************ Page speciifc style elements **************************************/

	/*index.jsp */
.bar {
	text-align: center;
	width: 50%;
	margin: 15px auto;
}

	/*itemForm.jsp */
	
.required:after { 
   	content:" *";
   	color:red
}
.requiredfootnote:before { 
   	content:"* ";
   	color:red
}
	/* userItemsView.jsp */
#inner {
	width: 50%;
	margin: 0 auto;
}

