/********************************* Universal elements **************************************/
body {
	background: #56CCF2; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2F80ED, #56CCF2);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#center_button {
	text-align: center;
}
/************************************ Page speciifc style elements **************************************/

/*welcome.jsp */
.bar {
	text-align: center;
	width: 50%;
	margin: 15px auto;
}

/*addItemForm.jsp */
.required:after {
	content: " *";
	color: red
}

.requiredfootnote:before {
	content: "* ";
	color: red
}
/* inventory.jsp */
#inner {
	width: 50%;
	margin: 0 auto;
}
/* Bootstrap style CSS for autocomplete */
.name-typeahead .dropdown-menu {

}

.name-typeahead .dropdown-menu li a {
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #555555;
	white-space: nowrap;
	text-decoration: none;
}

.name-typeahead .dropdown-menu li.active a{
	color: white;
	text-decoration: none;
	background-color: #007bff;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-image: none;
}
